-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: localhost    Database: gabay_db
-- ------------------------------------------------------
-- Server version       9.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `event_type` varchar(64) NOT NULL,
  `payload` json DEFAULT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_activity_device_time` (`device_id`,`timestamp`),
  CONSTRAINT `activity_log_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1417 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alert`
--

DROP TABLE IF EXISTS `alert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alert` (
  `alert_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `user_id` int NOT NULL,
  `alert_type` varchar(50) NOT NULL,
  `alert_description` text NOT NULL,
  `trigger_type` varchar(50) DEFAULT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_resolved` bit(1) DEFAULT b'0',
  `resolved_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`alert_id`),
  KEY `idx_alert_device_id` (`device_id`),
  KEY `idx_alert_user_id` (`user_id`),
  KEY `idx_alert_type_timestamp` (`alert_type`,`timestamp`),
  CONSTRAINT `alert_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `alert_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `fk_alert_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `fk_alert_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1418 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battery_status`
--

DROP TABLE IF EXISTS `battery_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battery_status` (
  `battery_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `battery_level` decimal(5,2) NOT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`battery_id`),
  KEY `idx_battery_device` (`device_id`),
  KEY `idx_battery_timestamp` (`timestamp`),
  KEY `idx_battery_device_timestamp` (`device_id`,`timestamp`),
  CONSTRAINT `battery_status_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `fk_battery_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1519 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `contact`
--

DROP TABLE IF EXISTS `contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact` (
  `contact_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `password` varchar(255) NOT NULL,
  `google_id` varchar(128) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `is_active` bit(1) NOT NULL DEFAULT b'1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`contact_id`),
  UNIQUE KEY `phone_number` (`phone_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `dashboard_activity_latest`
--

DROP TABLE IF EXISTS `dashboard_activity_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_activity_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_activity_latest` AS SELECT
 1 AS `device_id`,
 1 AS `last_activity`,
 1 AS `timestamp`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `dashboard_battery_latest`
--

DROP TABLE IF EXISTS `dashboard_battery_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_battery_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_battery_latest` AS SELECT
 1 AS `device_id`,
 1 AS `battery_level`,
 1 AS `timestamp`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `dashboard_latest`
--

DROP TABLE IF EXISTS `dashboard_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_latest` AS SELECT
 1 AS `device_id`,
 1 AS `serial_number`,
 1 AS `battery_level`,
 1 AS `battery_timestamp`,
 1 AS `sensor_type`,
 1 AS `sensor_value`,
 1 AS `sensor_timestamp`,
 1 AS `latitude`,
 1 AS `longitude`,
 1 AS `altitude`,
 1 AS `speed`,
 1 AS `heading`,
 1 AS `accuracy`,
 1 AS `signal_strength`,
 1 AS `street_name`,
 1 AS `city_name`,
 1 AS `place_name`,
 1 AS `context_tag`,
 1 AS `poi_name`,
 1 AS `poi_type`,
 1 AS `poi_distance`,
 1 AS `poi_distance_m`,
 1 AS `poi_distance_km`,
 1 AS `poi_lat`,
 1 AS `poi_lon`,
 1 AS `location_timestamp`,
 1 AS `reflector_status`,
 1 AS `reflector_timestamp`,
 1 AS `alert_type`,
 1 AS `alert_timestamp`,
 1 AS `last_activity`,
 1 AS `activity_timestamp`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `dashboard_location_latest`
--

DROP TABLE IF EXISTS `dashboard_location_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_location_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_location_latest` AS SELECT
 1 AS `device_id`,
 1 AS `latitude`,
 1 AS `longitude`,
 1 AS `altitude`,
 1 AS `speed`,
 1 AS `heading`,
 1 AS `accuracy`,
 1 AS `signal_strength`,
 1 AS `timestamp`,
 1 AS `street_name`,
 1 AS `city_name`,
 1 AS `place_name`,
 1 AS `context_tag`,
 1 AS `poi_name`,
 1 AS `poi_type`,
 1 AS `poi_distance`,
 1 AS `poi_distance_m`,
 1 AS `poi_distance_km`,
 1 AS `poi_lat`,
 1 AS `poi_lon`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `dashboard_reflector_latest`
--

DROP TABLE IF EXISTS `dashboard_reflector_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_reflector_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_reflector_latest` AS SELECT
 1 AS `device_id`,
 1 AS `status`,
 1 AS `timestamp`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `dashboard_sensor_latest`
--

DROP TABLE IF EXISTS `dashboard_sensor_latest`;
/*!50001 DROP VIEW IF EXISTS `dashboard_sensor_latest`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `dashboard_sensor_latest` AS SELECT
 1 AS `device_id`,
 1 AS `sensor_type`,
 1 AS `sensor_value`,
 1 AS `timestamp`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `device`
--

DROP TABLE IF EXISTS `device`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device` (
  `device_id` int NOT NULL AUTO_INCREMENT,
  `serial_number` varchar(100) NOT NULL,
  `is_active` bit(1) NOT NULL DEFAULT b'1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`device_id`),
  UNIQUE KEY `serial_number` (`serial_number`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `device_status`
--

DROP TABLE IF EXISTS `device_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_status` (
  `device_id` int NOT NULL,
  `obstacle_distance` float DEFAULT NULL,
  `obstacle_severity` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gsm_connected` tinyint(1) DEFAULT NULL,
  `gsm_signal_strength` int DEFAULT NULL,
  `button_action` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vibration_pattern` int DEFAULT NULL,
  `vibration_duration` int DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`device_id`),
  CONSTRAINT `fk_status_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gps_tracking`
--

DROP TABLE IF EXISTS `gps_tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gps_tracking` (
  `gps_track_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `latitude` float(10,6) NOT NULL,
  `longitude` float(10,6) NOT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`gps_track_id`),
  KEY `idx_gps_device_id` (`device_id`),
  KEY `idx_gps_latitude` (`latitude`),
  KEY `idx_gps_timestamp` (`timestamp`),
  CONSTRAINT `gps_tracking_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `location_log`
--

DROP TABLE IF EXISTS `location_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location_log` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `latitude` float(10,6) NOT NULL,
  `longitude` float(10,6) NOT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `altitude` float DEFAULT NULL,
  `speed` float DEFAULT NULL,
  `heading` float DEFAULT NULL,
  `accuracy` float DEFAULT NULL,
  `signal_strength` int DEFAULT NULL,
  `street_name` varchar(255) DEFAULT NULL,
  `city_name` varchar(255) DEFAULT NULL,
  `place_name` varchar(255) DEFAULT NULL,
  `context_tag` varchar(255) DEFAULT NULL,
  `poi_name` varchar(255) DEFAULT NULL,
  `poi_type` varchar(100) DEFAULT NULL,
  `poi_distance_m` int DEFAULT NULL,
  `poi_distance_km` float DEFAULT NULL,
  `poi_lat` float(10,6) DEFAULT NULL,
  `poi_lon` float(10,6) DEFAULT NULL,
  `poi_distance` float DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `idx_loc_device_id` (`device_id`),
  KEY `idx_loc_latitude` (`latitude`),
  KEY `idx_loc_timestamp` (`timestamp`),
  KEY `idx_location_device_timestamp` (`device_id`,`timestamp`),
  CONSTRAINT `fk_location_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `location_log_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1518 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `location_logs_view`
--

DROP TABLE IF EXISTS `location_logs_view`;
/*!50001 DROP VIEW IF EXISTS `location_logs_view`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `location_logs_view` AS SELECT
 1 AS `device_id`,
 1 AS `latitude`,
 1 AS `longitude`,
 1 AS `timestamp`,
 1 AS `created_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `night_reflector_status`
--

DROP TABLE IF EXISTS `night_reflector_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `night_reflector_status` (
  `reflector_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `status` enum('on','off') NOT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`reflector_id`),
  KEY `idx_reflector_device_time` (`device_id`,`timestamp`),
  CONSTRAINT `fk_reflector_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `night_reflector_status_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1478 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sensor_log`
--

DROP TABLE IF EXISTS `sensor_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sensor_log` (
  `sens_log_id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `sensor_type` varchar(50) NOT NULL,
  `sensor_value` decimal(10,4) DEFAULT NULL,
  `timestamp` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`sens_log_id`),
  KEY `idx_sensor_device_id` (`device_id`),
  KEY `idx_sensor_type_timestamp` (`sensor_type`,`timestamp`),
  CONSTRAINT `fk_sensor_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`),
  CONSTRAINT `sensor_log_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `blind_full_name` varchar(100) DEFAULT NULL,
  `blind_age` int DEFAULT NULL,
  `blind_phone_number` varchar(20) DEFAULT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `phone_number` varchar(20) NOT NULL,
  `impairment_level` varchar(50) NOT NULL,
  `device_id` int DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT '0',
  `verification_code` varchar(10) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `refresh_token` varchar(255) DEFAULT NULL,
  `relationship` varchar(50) DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expires` datetime DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_contact`
--

DROP TABLE IF EXISTS `user_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_contact` (
  `user_contact_id` int NOT NULL AUTO_INCREMENT,
  `contact_id` int NOT NULL,
  `user_id` int NOT NULL,
  `relationship` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_contact_id`),
  KEY `idx_uc_contact_id` (`contact_id`),
  KEY `idx_uc_user_id` (`user_id`),
  KEY `idx_uc_relationship` (`relationship`),
  CONSTRAINT `user_contact_ibfk_1` FOREIGN KEY (`contact_id`) REFERENCES `contact` (`contact_id`),
  CONSTRAINT `user_contact_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Final view structure for view `dashboard_activity_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_activity_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_activity_latest` AS select `a`.`device_id` AS `device_id`,`a`.`event_type` AS `last_activity`,`a`.`timestamp` AS `timestamp` from (`activity_log` `a` join (select `activity_log`.`device_id` AS `device_id`,max(`activity_log`.`timestamp`) AS `max_ts` from `activity_log` group by `activity_log`.`device_id`) `latest` on(((`a`.`device_id` = `latest`.`device_id`) and (`a`.`timestamp` = `latest`.`max_ts`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_battery_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_battery_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_battery_latest` AS select `battery_status`.`device_id` AS `device_id`,`battery_status`.`battery_level` AS `battery_level`,`battery_status`.`timestamp` AS `timestamp` from `battery_status` where (`battery_status`.`device_id`,`battery_status`.`timestamp`) in (select `battery_status`.`device_id`,max(`battery_status`.`timestamp`) from `battery_status` group by `battery_status`.`device_id`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_latest` AS select `d`.`device_id` AS `device_id`,`d`.`serial_number` AS `serial_number`,`b`.`battery_level` AS `battery_level`,`b`.`timestamp` AS `battery_timestamp`,`s`.`sensor_type` AS `sensor_type`,`s`.`sensor_value` AS `sensor_value`,`s`.`timestamp` AS `sensor_timestamp`,`l`.`latitude` AS `latitude`,`l`.`longitude` AS `longitude`,`l`.`altitude` AS `altitude`,`l`.`speed` AS `speed`,`l`.`heading` AS `heading`,`l`.`accuracy` AS `accuracy`,`l`.`signal_strength` AS `signal_strength`,`l`.`street_name` AS `street_name`,`l`.`city_name` AS `city_name`,`l`.`place_name` AS `place_name`,`l`.`context_tag` AS `context_tag`,`l`.`poi_name` AS `poi_name`,`l`.`poi_type` AS `poi_type`,`l`.`poi_distance` AS `poi_distance`,`l`.`poi_distance_m` AS `poi_distance_m`,`l`.`poi_distance_km` AS `poi_distance_km`,`l`.`poi_lat` AS `poi_lat`,`l`.`poi_lon` AS `poi_lon`,`l`.`timestamp` AS `location_timestamp`,`r`.`status` AS `reflector_status`,`r`.`timestamp` AS `reflector_timestamp`,`a`.`alert_type` AS `alert_type`,`a`.`timestamp` AS `alert_timestamp`,`act`.`last_activity` AS `last_activity`,`act`.`timestamp` AS `activity_timestamp` from ((((((`device` `d` left join `dashboard_battery_latest` `b` on((`b`.`device_id` = `d`.`device_id`))) left join `dashboard_sensor_latest` `s` on((`s`.`device_id` = `d`.`device_id`))) left join `dashboard_location_latest` `l` on((`l`.`device_id` = `d`.`device_id`))) left join `dashboard_reflector_latest` `r` on((`r`.`device_id` = `d`.`device_id`))) left join (select `aa1`.`device_id` AS `device_id`,`aa1`.`alert_type` AS `alert_type`,`aa1`.`timestamp` AS `timestamp` from (`alert` `aa1` join (select `alert`.`device_id` AS `device_id`,max(`alert`.`timestamp`) AS `max_ts` from `alert` group by `alert`.`device_id`) `aa2` on(((`aa1`.`device_id` = `aa2`.`device_id`) and (`aa1`.`timestamp` = `aa2`.`max_ts`))))) `a` on((`a`.`device_id` = `d`.`device_id`))) left join `dashboard_activity_latest` `act` on((`act`.`device_id` = `d`.`device_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_location_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_location_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_location_latest` AS select `ll`.`device_id` AS `device_id`,`ll`.`latitude` AS `latitude`,`ll`.`longitude` AS `longitude`,`ll`.`altitude` AS `altitude`,`ll`.`speed` AS `speed`,`ll`.`heading` AS `heading`,`ll`.`accuracy` AS `accuracy`,`ll`.`signal_strength` AS `signal_strength`,`ll`.`timestamp` AS `timestamp`,`ll`.`street_name` AS `street_name`,`ll`.`city_name` AS `city_name`,`ll`.`place_name` AS `place_name`,`ll`.`context_tag` AS `context_tag`,`ll`.`poi_name` AS `poi_name`,`ll`.`poi_type` AS `poi_type`,`ll`.`poi_distance` AS `poi_distance`,`ll`.`poi_distance_m` AS `poi_distance_m`,`ll`.`poi_distance_km` AS `poi_distance_km`,`ll`.`poi_lat` AS `poi_lat`,`ll`.`poi_lon` AS `poi_lon` from (`location_log` `ll` join (select `location_log`.`device_id` AS `device_id`,max(`location_log`.`timestamp`) AS `max_ts` from `location_log` group by `location_log`.`device_id`) `latest` on(((`ll`.`device_id` = `latest`.`device_id`) and (`ll`.`timestamp` = `latest`.`max_ts`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_reflector_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_reflector_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_reflector_latest` AS select `night_reflector_status`.`device_id` AS `device_id`,`night_reflector_status`.`status` AS `status`,`night_reflector_status`.`timestamp` AS `timestamp` from `night_reflector_status` where (`night_reflector_status`.`device_id`,`night_reflector_status`.`timestamp`) in (select `night_reflector_status`.`device_id`,max(`night_reflector_status`.`timestamp`) from `night_reflector_status` group by `night_reflector_status`.`device_id`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `dashboard_sensor_latest`
--

/*!50001 DROP VIEW IF EXISTS `dashboard_sensor_latest`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `dashboard_sensor_latest` AS select `sensor_log`.`device_id` AS `device_id`,`sensor_log`.`sensor_type` AS `sensor_type`,`sensor_log`.`sensor_value` AS `sensor_value`,`sensor_log`.`timestamp` AS `timestamp` from `sensor_log` where (`sensor_log`.`device_id`,`sensor_log`.`timestamp`) in (select `sensor_log`.`device_id`,max(`sensor_log`.`timestamp`) from `sensor_log` group by `sensor_log`.`device_id`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `location_logs_view`
--

/*!50001 DROP VIEW IF EXISTS `location_logs_view`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `location_logs_view` AS select `gps_tracking`.`device_id` AS `device_id`,`gps_tracking`.`latitude` AS `latitude`,`gps_tracking`.`longitude` AS `longitude`,`gps_tracking`.`timestamp` AS `timestamp`,`gps_tracking`.`created_at` AS `created_at` from `gps_tracking` union all select `location_log`.`device_id` AS `device_id`,`location_log`.`latitude` AS `latitude`,`location_log`.`longitude` AS `longitude`,`location_log`.`created_at` AS `timestamp`,`location_log`.`created_at` AS `created_at` from `location_log` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-28 23:29:03

C:\Program Files\MySQL\MySQL Server 9.2\bin>